
@font-face{
  font-family: gothamRound-Bold;
  src: url(../fonts/GothamRounded-Bold.otf);
}
@font-face{
  font-family: gothamRound-Bold2106;
  src: url(../fonts/GothamRoundedBold_21016.ttf);
}
@font-face{
  font-family: gothamRound-Light;
  src: url(../fonts/GothamRounded-Light.otf);
}
@font-face{
  font-family: gothamRound-Medium;
  src: url(../fonts/GothamRounded-Medium.otf);
}
@font-face{
  font-family: gothamRound-Book;
  src: url(../fonts/GothamRounded-Book.otf);
}
*{
  font-family: gothamRound-Book;
}

.headings > h1,
button {
  font-family: gothamRound-Medium;
  font-weight:500px ;
}

.login-page-wrapper {
  height: 600px;
}

.login-img-section {
  background-image: url('../images/Group\ 13.png');
  background-size: 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 50px;
  margin-left: 50px;
  /* height: -webkit-fill-available; */
}

.login-form-section {
  margin-top: 0px;
  margin-left: 80px;
}
.container-cloud{
  display: flex;
  justify-content: space-between;
/* margin-top: 50px !important; */
}
.cloud1{
  margin-top: 50px;
}
.cloud2{
  margin-top: 40px;
}
.input-icons i {
  position: absolute;
}
.login-form-section button {
  border-radius: 12px;
  border: rgb(141, 84, 64);
  background-color: rgb(141, 84, 64);
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 12px 7px;
  /* color: green; */
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.form-group input,
button {
  width: 315px;
  height: 50px;
  border-radius: 10px;
  /* border: 0; */
  outline: 0;
}

.form-group button {
  border-radius: 12px;
  border: rgb(141, 84, 64);
  background-color: rgb(141, 84, 64);
}



.register-btn a{
  text-decoration: none;
  color: white;
}




.rider-forget-password a{
  text-decoration: none;
  color: black !important;
}
.rider-new-account a{
  text-decoration: underline;
  color: black !important;
}


input[type='email']::placeholder {
  /* Firefox, Chrome, Opera */
  text-align: center;
}

input[type='password']::placeholder {
  /* Firefox, Chrome, Opera */
  text-align: center;
}

input[type='email']:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  text-align: center;
}

input[type='password']:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  text-align: center;
}

input[type='email']::-ms-input-placeholder {
  /* Microsoft Edge */
  text-align: center;
}

input[type='password']::-ms-input-placeholder {
  /* Microsoft Edge */
  text-align: center;
}

input {
  text-align: center;
}

@media (max-width: 990px) {
  .login-form-section {
    /* margin-left: 200px; */
  }

  /* .login-img-section {
        height: 450px;
    } */
}

@media (max-width: 470px) {
  .login-form-section {
    position: relative;
    left: -60px;
  }

  .login-img-section {
    height: 450px;
  }
}

@media (max-width: 387px) {
  .login-form-section {
    position: relative;
    left: -80px;
  }

  .login-img-section {
    height: 410px;
  }

  .form-group input,
  button {
    width: 295px;
    height: 50px;
    border-radius: 10px;
    /* border: 0; */
    outline: 0;
  }
}

@media (max-width: 325px) {
  .login-form-section {
    position: relative;
    left: -90px;
  }

  .login-img-section {
    height: 410px;
  }

  .form-group input,
  button {
    width: 295px;
    height: 50px;
    border-radius: 10px;
    /* border: 0; */
    outline: 0;
  }
}

@media (max-width: 300px) {
  .login-form-section {
    position: relative;
    left: -90px;
  }

  .login-img-section {
    height: 300px;
  }

  .form-group input,
  button {
    width: 255px;
    height: 50px;
    border-radius: 10px;
    /* border: 0; */
    outline: 0;
  }
}
